@model WorkoutTracker.ViewModels.AddEditWorkoutViewModel

@{
    ViewBag.Title = "Edit Workout";
}

<h1>Edit A Workout</h1>

<form method="post">

    <div class="form-group">
        <div class="col-xs-3">
            <label asp-for="@Model.DateTaken">Date Taken</label>
            <input class="form-control" asp-for="@Model.DateTaken" />
            <span asp-validation-for="@Model.DateTaken"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Location.ID">Location</label>
        <select asp-for="@Model.Location.ID" asp-items="@Model.Locations"></select>
    </div>

    <div class="form-group">
        <label asp-for="@Model.ClassType.ID">Class Type</label>
        <select asp-for="@Model.ClassType.ID" asp-items="@Model.ClassTypes"></select>

    </div>

    <div class="form-group">
        <label asp-for="@Model.Instructor.ID">Location</label>
        <select asp-for="@Model.Instructor.ID" asp-items="@Model.Instructors"></select>
    </div>

    <div class="form-group">
        <div class="col-xs-3">
            <label asp-for="@Model.CaloriesBurned">Calories Burned</label>
            <input class="form-control" asp-for="@Model.CaloriesBurned" />
            <span asp-validation-for="@Model.CaloriesBurned"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.HasBeenLiked">Did You Like This Class?</label>
        <input asp-for="@Model.HasBeenLiked" type="checkbox" name="HasBeenLiked" id="@Model.HasBeenLiked" value="true" />
    </div>

    <input type="hidden" value="@Model.User" name="User" />

    <input type="submit" value="Submit" />

</form>

<br />

<div class="form-group">
    <a asp-controller="Workout" asp-action="Index">Go Back</a>
</div>