@model List<WorkoutTracker.Models.Workout>

@{
    ViewBag.Title = "Workouts";
}

<h2>My Workouts</h2>

<!--TODO: Find out how to display workouts for only the user that is signed in
    TODO: Find out how to save user id into Workout table-->

@if (Model.Count > 0)
{
    <table class="table">
        <tr>
            <th><strong>Date Taken</strong></th>
            <th><strong>Location</strong></th>
            <th><strong>Class Type</strong></th>
            <th><strong>Instructor</strong></th>
            <th><strong>Calories Burned</strong></th>
            <th><strong>Has Been Liked</strong></th>
            <th></th>
        </tr>

        @foreach (var workout in Model)
        {
            <tr>
                <td>@workout.DateTaken</td>
                <td>@workout.Location.Name</td>
                <td>@workout.ClassType.Name</td>
                <td>@workout.Instructor.Name</td>
                <td>@workout.CaloriesBurned</td>
                <td>@workout.HasBeenLiked</td>
                <td>
                    <a asp-controller="Workout" asp-action="Edit" asp-route-workoutID="@workout.ID">Edit</a> |
                    <a asp-controller="Workout" asp-action="Remove" asp-route-workoutID="@workout.ID">Remove</a>
                </td>
            </tr>
        }
    </table>
}

@if (Model.Count == 0)
{
    <p>No workouts yet!</p>
}

<div>
    <p><a asp-controller="Workout" asp-action="Add">Add a Workout</a></p>
</div>