@model List<WorkoutTracker.Models.Workout>

@{
    ViewBag.Title = "Workouts";
}

<div>
    <h2 class="text-center">My Workouts</h2>
</div>

<br />

<form class="text-center" asp-controller="Workout" asp-action="Index" method="get">
    <div class="form-group">
        <p>
            <strong>Search By:</strong>
            <input type="radio" name="searchBy" value="DateTaken" checked="checked" /> Date Taken
            <input type="radio" name="searchBy" value="ClassType" /> Class Type
            <input type="radio" name="searchBy" value="Location" /> Location
            <input type="radio" name="searchBy" value="Instructor" /> Instructor
            <input type="radio" name="searchBy" value="CaloriesBurned" /> Calories Burned
            <input type="radio" name="searchBy" value="HasBeenLiked" /> Has Been Liked
        </p>
    </div>
    <div>
        <input class="col-xs-3" type="text" name="search" />
        <input type="submit" value="Search" /> <br /><br>
    </div>
</form>


@if (Model.Count > 0)
{
    <table width="100%">
        <tr>
            <td class="text-left">
                <h3>@Model.Count Workout(s)</h3>
            </td>
            <td class="text-right">
                <p><a asp-controller="Workout" asp-action="Add">Add a Workout</a></p>
            </td>
        </tr>
    </table>

    <br />

    <div>
        <table class="table">
            <tr>
                <th>Date Taken</th>
                <th>Location</th>
                <th>Class Type</th>
                <th>Instructor</th>
                <th>Calories Burned</th>
                <th>Liked</th>
                <th>Modify</th>
            </tr>

            @foreach (var workout in Model)
            {
                <tr>
                    <td>@workout.DateTaken</td>
                    <td>@workout.Location.Name</td>
                    <td>@workout.ClassType.Name</td>
                    <td>@workout.Instructor.Name</td>
                    <td>@workout.CaloriesBurned</td>
                    <td>
                    @{ 
                        string str;
                        if (workout.HasBeenLiked == true)
                        { str = "Yes"; }
                        else str = "No";
                    }
                        @str
                    </td>
                    <td>
                        <a asp-controller="Workout" asp-action="Edit" asp-route-workoutID="@workout.ID">Edit</a> |
                        <a asp-controller="Workout" asp-action="Remove" asp-route-workoutID="@workout.ID">Remove</a>
                    </td>
                </tr>
            }
        </table>
    </div>

    <br />

    <h3 class="text-center">Workout Data</h3>

    <div>
        <table class="table">
            <tr>
                <th>Total Calories Burned</th>
                <th>Liked</th>
                <th>Not Liked</th>
            </tr>
            <tr>
                <td>
                    @{
                        int sum = 0;
                        foreach (Workout workout in Model)
                        {
                            sum += workout.CaloriesBurned;
                        }
                    }
                    @sum.ToString()
                </td>
                <td>
                    @Model.Count(c => c.HasBeenLiked == true)
            </td>
            <td>@Model.Count(c => c.HasBeenLiked == false)</td>
        </tr>

    </table>
</div>
}

@if (Model.Count == 0)
{
    <p>No workouts yet!</p>
}