@model WorkoutTracker.Models.Workout

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <br />
        <h2 class="display-4">Hello, @User.Identity.Name!</h2>
        <br />
        <h3><a asp-controller="Workout" asp-action="Index">View My Workouts</a></h3>
        <br />
        <p>Below you will see all of your data gathered from workouts you have already taken.  You can see the breakdown of each workout category below to 
            assist you in your health journey.  As you add more workouts, this data will change to relfect that.  Enjoy!</p>
    </div>

<br />

<h3 class="text-center">My Workout Data</h3>

<div class="text-center">
    <table width="100%" border="1">
        <tr>
            <th>Total Workouts</th>
            <td>@ViewBag.Workouts.Count</td>
        </tr>
        <tr>
            <th>Calories Burned</th>
            <td>
                @{
                    int sum = 0;
                    foreach (Workout workout in ViewBag.Workouts)
                    {
                        sum += workout.CaloriesBurned;
                    }
                }
                @sum
            </td>
        </tr>
        <tr>
            <th>Class Types</th>
            <td>@ViewBag.ClassTypesGrouped</td>
        </tr>
        <tr>
            <th>Locations</th>
            <td>@ViewBag.LocationsGrouped</td>
        </tr>
        <tr>
            <th>Instructors</th>
            <td>@ViewBag.InstructorsGrouped</td>
        </tr>
        <tr>
            <th>Has Been Liked</th>
            <td>
                @{
                    int sumTrue = 0;
                    int sumFalse = 0;
                    foreach (Workout workout in ViewBag.Workouts)
                    {
                        if (workout.HasBeenLiked == true)
                            sumTrue += 1;
                        else
                            sumFalse += 1;
                    }
                }

                Yes: @sumTrue No: @sumFalse
            </td>
        </tr>
    </table>
</div>